.navbar {
  background-color: #121214;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  .navbar-nav {
    position: relative;
  }
  &__pp {
    position: absolute;
    left: -11rem;
    top: -6rem;
    img {
      height: 9rem;
      width: 9rem;
    }
  }
  &__list {
    padding: 0;
    margin: 0;
    display: flex;
    li {
      display: flex;
      align-items: center;
      padding: 1.8rem 7rem 1.8rem 11rem;
      a {
        text-decoration: none;
        opacity: 0.8;
        font-size: 1.5rem;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.09px;
        text-align: center;
        color: #ffffff;
        margin-left: 1rem;
      }
      &.active {
        padding-left: 3rem;
        padding-right: 3rem;
        background-image: linear-gradient(to bottom, #39393f, rgba(34, 34, 37, 0)), linear-gradient(to bottom, #222225, #222225);
        margin-bottom: -1px;
        border-top: 2px solid #0091ff;
        a {
          font-size: 1.7rem;
          font-weight: 500;
          letter-spacing: -0.1px;
          color: #0091ff;
        }
      }
    }
  }
  @media (max-width: 768px) {
    display: none;
  }
}
