.top {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: #151517;
  padding: 2rem 0 1.5rem;

  &__wrapper {
    display: flex;
    align-items: center;
    margin-left: 12rem;
    margin-top: .5rem;
  }
  &__icons {
    display: flex;
    align-items: center;
    position: relative;
    img {
      margin-left: 1.5rem;
      position: relative;
    }
    &__wallet {
      margin-left: 3.9rem !important;
    }
    &__wallet-2 {
      margin-left: 3.5rem !important;
    }
    &__bag {
      margin-left: 3.4rem !important;
    }
    &__bell {
      position: relative;
      padding-top: .4rem;
      img {
        height: 2.1rem;
        margin-left: 2rem !important;
      }
      &:after {
        content:url('../../assets/dot.png');
        position: absolute;
        height: 1rem;
        width: 1rem;
        right: 0;
        top: 0;
      }
    }
    @media (max-width: 768px) {
      display: none;
    }
  }
  &__seperator {
    height: 8rem;
    margin-top: -2rem;
    margin-bottom: -2rem;
    width: 1px;
    background-color: #0b0b0c;
    margin-left: 3.8rem;
  }
  &__input {
    position: relative;
    width: fit-content;
    &:after {
      content:url('../../assets/search-icon.png');
      position: absolute;
      height: 2.2rem;
      width: 2.2rem;
      right: 3.6rem;
      top: 1.2rem;
    }
    input {
      border: none;
      color: #f2f2f2;
      width: 61.4rem;
      height: 4.4rem;
      border-radius: 6px;
      background-color: #111113;
      padding-left: 1.8rem;
      @media (max-width: 768px) {
        padding-left: 0;
      }

      &:focus {
        outline: none;
      }

      &::-webkit-input-placeholder { /* Edge */
        opacity: 0.5;
        font-size: 1.5rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.47;
        letter-spacing: -0.36px;
        color: rgba(235, 235, 245, 0.6);
      }
      
      &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        opacity: 0.5;
        font-size: 1.5rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.47;
        letter-spacing: -0.36px;
        color: rgba(235, 235, 245, 0.6);
      }
      
      &::placeholder {
        opacity: 0.5;
        font-size: 1.5rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.47;
        letter-spacing: -0.36px;
        color: rgba(235, 235, 245, 0.6);
      }
      @media (max-width: 768px) {
        width: 100%;
      }
    }
    @media (max-width: 768px) {
      width: 100%;
      padding: 0;
      &:after {
        right: 1rem;
      }
    }
  }
}